{% extends '@AllForKidsMain/Admin/admin2.html.twig' %}
{% block bodyadmin %}


    <div class="main-content">


        <table class="table">
            <thead>
            <tr>
                <th>Nom Ctegorie</th>


                <th style="width: 3.5em;"></th>
            </tr>
            </thead>

            <tbody>
            {% for m in categorie %}
                <tr>
                    <td>{{m.nomCategorie}}</td>



                <td>

                    <a href="{{ path('supprime_categ', {'id':m.id}) }}"  role="button" data-toggle="modal"><i class="fa fa-trash-o"></i></a>
                </td>
                </tr>

            {% endfor %}
        </table>


        <div class="modal small fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Delete Confirmation</h3>
                    </div>
                    <div class="modal-body">
                        <p class="error-text"><i class="fa fa-warning modal-icon"></i>Are you sure you want to delete the user?<br>This cannot be undone.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        <button class="btn btn-danger" data-dismiss="modal">Delete</button>
                    </div>
                </div>
            </div>
        </div>


    </div>


{% endblock bodyadmin %}