{% extends "::base.html.twig" %}

{% block title %}AllForKidsMainBundle:Reservation:AjoutReservation{% endblock %}

{% block body %}
<h1>Welcome to the Reservation:AjoutReservation page</h1>
{% endblock %}
