{% extends '@AllForKidsMain/Admin/admin2.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{# {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %} #}

{% block head %}

    <h1 class="page-title">Dashboard</h1>
    <ul class="breadcrumb">
        <li><a href="{{ path('Admin2') }}"> Home</a> </li>
        <li class="active"><a href="#">Gestion Evenement</a></li>
    </ul>



{% endblock head %}


{% block bodyadmin %}

    <html>
    <head>
        <title></title>
    </head>
    <body>

    <h1></h1>
    {{ form_start(form) }}

            {{ form_widget(form.Ajouter,{'label':'modifier'})}}



    {{ form_end(form) }}
    </body>
    </html>


    {% endblock bodyadmin %}















